* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background: var(--Brand-Color-Red, #ed3729);
  height: 50px;
  padding: 15px;
}

.nav_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_top_left {
  display: flex;
  align-items: center;
}

.nav_top_left p {
  color: var(--Color-White, #fff);
  font-family: Gotham Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  margin-left: 5px;
}

.nav_top_right {
  margin-left: 74px;
}

.nav_top_right ul li {
  display: inline-block;
  margin-left: 33px;
}

.nav_top_right ul li a {
  color: var(--Color-White, #fff);
  font-family: Gotham Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-decoration: none;
}

.nav_top_end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 159px;
}

.nav_top_end p a {
  color: var(--Color-White, #fff);
  font-family: Gotham Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
  text-decoration: none;
}

.nav_top_end img {
  margin-left: 75px;
}

.nav_main {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.nav_main_inp {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--Brand-Color-Red, #ed3729);
  background: var(--Color-White, #fff);
  margin-left: 57px;
  width: 717px;
  height: 50px;
  padding-left: 20px;
}

.nav_main_inp input {
  border: none;
  background: transparent;
  outline: none;
  margin-left: 20px;
}

.mic {
  margin-left: 232px;
}

.poisk {
  border-radius: 0px 5px 5px 0px;
  background: var(--Brand-Color-Red, #ed3729);
  width: 127px;
  height: 50px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.poisk p {
  color: var(--Color-White, #fff);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  margin-left: 12px;
}

.nav_main_comp {
  margin-left: 78px;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 5px;
  width: 80px;
}

.nav_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
}

.nav_bottom_left {
  border-radius: 5px;
  background: var(--Brand-Color-Red, #ED3729);
  width: 280px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav_bottom_left img {
  margin-left: 79px;
}

.nav_bottom_left p {
  color: #FFF;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  /* 28.8px */
  margin-left: 11px;
}

.nav_bottom_right ul li {
  display: inline-block;
  margin-left: 48px;
}


.nav_bottom_right ul li a {
  color: #000;
  font-family: Gotham Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  /* 28.8px */
}

.colorText {
  color: var(--Brand-Color-Red, #ED3729);
  font-family: Gotham Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  /* 28.8px */
}

.shoping_img {
  margin-top: 25px;
  border-radius: 5px;
  border: 1px solid var(--Gray-6, #F2F2F2);
  width: 1420px;
}




/* main-top */
.main {
  margin-top: 600px;
}

.section1_top h1 {
  color: var(--Brand-Color-Black, #202020);
  font-family: Gotham Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section1_bottom{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.child1 {
  width: 280px;
  height: 353px;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid var(--Gray-6, #F2F2F2);
  background: var(--Color-White, #FFF);
  margin-top: 40px;
}
.ml{
  margin-left: 60px;

}
.child1_top img {
  margin-left: 68px;
  margin-top: 10px;
}

.child1_section {
  display: flex;
  align-items: center;
  margin-left: 26px;
}

.child1_section p:nth-child(1) {
  color: var(--Color-Black-2, #909090);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  /* 25.2px */
  text-decoration-line: line-through;
}

.child1_section p:nth-child(2) {
  width: 1px;
  height: 10px;
  margin-left: 11px;
  background: #909090;
}

.child1_section p:nth-child(3) {
  color: var(--Brand-Color-Red, #ED3729);
  font-family: Gotham Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 11px;
}

.card_name {
  color: #000;
  text-align: center;
  font-family: Gotham Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-top: 15px;
}

.card_title {
  color: var(--Color-Black-2, #909090);
  text-align: center;
  font-family: Gotham Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  margin-top: 10px;
}

.child1_numbers {
  display: flex;
  align-items: center;
}

.child1_title {
  margin-left: 21px;
}

.child1_title p:nth-child(1) {
  color: var(--Brand-Color-Black, #202020);
  text-align: center;
  font-family: Gotham Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 25.6px */
}

.child1_title p:nth-child(2) {
  color: var(--Color-Black-2, #909090);
  text-align: center;
  font-family: Nunito;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.spans {
  width: 1px;
  height: 23px;
  background: #E0E0E0;
  margin-left: 21px;
}

.child1_icons {
  display: flex;
  align-items: center;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid var(--Gray-6, #F2F2F2);
  background: var(--Color-White, #FFF);
  margin-top: 19px;
  padding: 20px;
}

.child1_icons img {
  margin-left: 35px;
}
.firecam{
  display: flex;
  align-items: center;
  margin-top: 60px;
}
